::selection {
	background: #F7C723; /* WebKit/Blink Browsers */
}

::-moz-selection {
	background: #F7C723; /* Gecko Browsers */
}

body {
	font-family: 'Open Sans', serif;
	font-size: 1.5em;
	line-height: 1.7em;
}

.container-fluid {
	padding: 80px 0;
	min-height: 800px;
}

.content {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 750px;
}

header {
	height: 100vh;
	background-color: #202020;
	color: #FFF;
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 300px;
}

.cover {
	padding-left: 15px;
	padding-right: 15px;
}

.cover .title {
	font-size: 2em;
	font-weight: bold;
}

.cover .subtitle {
	display: inline-block;
}

.main-cover .subtitle {
	font-size: 1em;
	font-weight: bold;
}

.cover img {
	margin-top: 15px;
	width: 25vh;
	min-width: 80px;
}

.over {
	position: absolute;
	height: 100vh;
}

.box-down {
	color: #FFF;
	position: absolute;
	z-index: 3;
	bottom: 0;
	margin-left: 44.4vw;
	width: 10vw;
	height: 90px;
}

.box-down a {
	color: #FFF;
	text-decoration: none;
}

.navbar-brand a {
	color: #FFF;
	text-decoration: none;
}

.fa {
	padding: 0 4px;
}

.glyphicon.glyphicon-chevron-down {
	font-size: 50px;
}

footer {
	margin-bottom: -12px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #202020;
	color: #FFF;
}

.li-servs img {
	width: 20vh;
	min-width: 80px;
}

.projects img {
	width: 40vh;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header {
		min-height: 450px;
	}
	.cover .title {
		font-size: 4em;
		font-weight: bold;
	}
	.cover .subtitle {
		display: inline-block;
	}
	.main-cover .title {
		font-size: 6em;
	}
	.main-cover .subtitle {
		font-size: 2em;
		font-weight: bold;
	}
	.cover img {
		width: 150px;
	}
	.li-servs img {
		width: 100px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
