::selection {
	background: #F7C723; /* WebKit/Blink Browsers */
}

::-moz-selection {
	background: #F7C723; /* Gecko Browsers */
}

body {
	font-family: 'Open Sans', serif;
	font-size: 1.5em;
	line-height: 1.7em;
}

.container-fluid {
	padding: 0;
	min-height: 66vh;
}

header {
	height: 100vh;
	background-color: #202020;
	color: #FFF;
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 300px;
}

div.cover {
	padding-left: 15px;
	padding-right: 15px;
}

div.cover .title {
	font-size: 2em;
	font-weight: bold;
}

div.cover .subtitle {
	display: inline-block;
}

div.main-cover .subtitle {
	font-size: 1em;
	font-weight: bold;
}

div.cover img {
	margin-top: 15px;
	width: 25vh;
	min-width: 80px;
}

.over {
	position: absolute;
	height: 100vh;
}

.oi {
	color: #FFF;
	position: absolute;
	z-index: 3;
	bottom: 0;
	margin-left: 44.4vw;
	width: 10vw;
	height: 90px;
}

.glyphicon.glyphicon-chevron-down {
	font-size: 50px;
}

footer {
	margin-bottom: -12px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #202020;
	color: #FFF;
}

div.item1 {
	margin: auto;
	padding: 20px;
	max-width: 500px;
}

div.item1 div .thumbnail {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 270px;
	min-height: 400px;
}

div.item1 div ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.item2 {
	margin: auto;
	padding: 20px;
	padding-top: 460px;
	max-width: 500px;
}

div.item2 p {
	padding: 15px;
}

div.li-servs {
	margin: auto;
	padding: 20px;
	max-width: 500px;
}

div.li-servs img {
	width: 50px;
}

div.item4 {
	margin: auto;
	padding: 20px;
	max-width: 700px;
}

div.item4 img {
	width: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header {
		min-height: 450px;
	}
	div.cover .title {
		font-size: 4em;
		font-weight: bold;
	}
	div.cover .subtitle {
		display: inline-block;
	}
	div.main-cover .title {
		font-size: 6em;
	}
	div.main-cover .subtitle {
		font-size: 2em;
		font-weight: bold;
	}
	div.cover img {
		width: 150px;
	}
	div.item1 {
		max-width: 700px;
	}
	div.item1 div .thumbnail {
		min-height: 450px;
	}
	div.item2 {
		max-width: 700px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	div.item1 {
		max-width: 900px;
	}
	div.item1 div .thumbnail {
		min-height: 380px;
	}
	div.item2 {
		max-width: 900px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	div.item1 {
		max-width: 1000px;
	}
	div.item1 div .thumbnail {
		min-height: 380px;
	}
	div.item2 {
		max-width: 1000px;
	}
}
