<div class="over">
	<div class="text-center box-down">
		<a href="#anchor">
			<span class="glyphicon glyphicon-chevron-down" arial-hidden="true"></span>
		</a>
	</div>
</div>
<header>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand">
					<a href="https://twitter.com/andreght1" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
					<a href="https://github.com/andreght1" target="_blank"><i class="fa fa-github-alt fa-lg"></i></a>
					<a href="https://www.facebook.com/andre.rodrigues.sp" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
					<a href="https://plus.google.com/116636252603324526461" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a>
					<a href="https://br.linkedin.com/pub/andr%C3%A9-rodrigues/83/949/a2b" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
				</div>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">INICIO</a></li>
					<li><a href="/about/">SOBRE</a></li>
					<li><a href="/posts/">POSTS</a></li>
					<li><a href="/projects/">PROJETOS</a></li>
					<li><a href="/services/">SERVIÇOS</a></li>
					<li><a href="/contact/">CONTATO</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="text-center cover {% if page.url == '/index.html' %}main-cover{% endif %}">
		<h1 class="title">{{page.title}}</h1>
		<h3 class="subtitle">{{page.subtitle}}</h3>
		{% if page.url == '/contact.html' %}
			<h3 class="subtitle" style="margin-left: 15px;">;)</h3>
		{% endif %}
		{% if page.url == '/index.html' %}
			<br>
			<img src="http://dummyimage.com/500x500/000/fff" alt="" class="img-circle">
		{% endif %}
	</div>
</header>
